html,
body 
{
    height: 100%;
    margin: 0;
    padding: 0;
}

body 
{
    font-family: "Trebuchet MS",Verdana,Sans-Serif;
    font-size: 12px;
    background-color: #464646;
    color: #EEE;
}

a 
{
    color: #000000;
    text-decoration: none;
}

a:hover 
{
    background-color: #363633;
    color: #1A1A1A;
}

#prelude 
{
	color: #e1e1e1;
    padding: 10px;
    text-align: right;
    background-color: #C0DB5A;
}

#prelude .actions a {
    padding: 2px;
    color: #1A1A1A;
    text-decoration: none;
    padding: 10px;
}

#prelude .actions a:hover 
{
    background: #363633;
    color: #EEE;
    text-decoration: none;
}

#prelude .actions, #header, .content, #footer 
{
    width: 50%;
    margin: auto;
}

#header h1 
{
    color: #EEE;
}

h2 
{
    color: #C0DB5A;
    text-transform: uppercase;
}

#header .logo 
{
	text-align: left;
    margin-top: 25px;
	margin-left: 0px;
	width: 0%;
}

#header .upload 
{
    background: #000;
    margin-top: 50px;
	text-align: right;
    padding: 20px;
    border-left: 5px solid #0D0D09;
    color: #EEE;
}

#header .upload h3 
{
    float: left;
	text-transform: uppercase;
}

#header .upload .help 
{
    margin-left: 10px;
    padding-top: 2px;
    display: block;
    float: right;
	color: #969696;
}

.content label 
{
    display: block;
    padding-top: 10px;
}

.content input[type="submit"] 
{
    display: block;
    margin-top: 10px;
}

#header .upload input[type=text], #header .upload textarea 
{
    width: 25%;
}

#footer
{
    clear: both;
    color: #8D8D73;
    text-align: right;
    font-size: 11px;
    padding: 5px;
}

.content 
{
    clear: both;
    padding: 20px 0;
    margin: 10px auto;
}

.content .image 
{
    text-align: center;
    position: relative;
}

.content .image .author, .content .image .description, .content .image .tags 
{
    display: block;
    clear: both;
}

.content .image .description 
{
    font-style: italic;
}


.content .image .thumbnail 
{
    border: none;
    margin-bottom: 10px;
}

.content .image .thumbnail .delete, .content .image .thumbnail .edit 
{
	border: none;
}

.content .image .thumbnail .delete 
{
    right: 24px;
}

.content .info 
{
    width: 598px;
    text-align: right;
}

.content .info th 
{
    text-align: left;
}

.content .info th, .content .related h4 {
    color: #C0DB5A;
    text-transform: uppercase;
}

.content .info td 
{
    vertical-align: top;
}

.content .info textarea 
{
    width: 420px;
    height: 45px;
}

.content .related 
{
    width: 208px;
    margin-left: 10px;
    overflow: auto;
}

.content .related, .content .info {
    height: 328px;
    float: left;
    margin-top: 30px;
    padding: 10px;
    color: #EEE;
    border: 1px solid #222222;
}

.content .related h4 
{
    text-align: center;
    padding-top: 3px;
    padding-bottom: 10px;
}

.content .related p 
{
    text-align: center;
    padding-bottom: 10px;
}

.content h2 
{
    padding-bottom: 20px;
    text-align: center;
}

.content .clearfix 
{
    clear: both;
}

.content .success, .content .error 
{
    background: #A40000;
    color: #EEE;
    padding: 10px;
    margin-top: 10px;
    display: block;
}

.content .success 
{
    color: #EEE;
    font-weight: bold;
    background: #333;
}

#account, #edit, #delete, #stats, #help, #tagcloud, #search, #login, #register, #contact
 {
    background: #222222;
    border: 1px solid #2A2A2A;
    margin-top: 20px;
    padding: 20px;
}

#tagcloud a, #search a, #login a, #register a 
{
    color: #EEE;
}

#search .result 
{
    float: left;
    height: 160px;
    padding-top: 10px;
    text-align: center;
    width: 160px;
}

#tagcloud 
{
    text-align: center;
}

#tagcloud a 
{
    text-decoration: none;
}

.content .image .actions 
{
    background: #f9F9F9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding-bottom: 10px;
    display: block;
    width: 32px;
    position: absolute;
    top: 0px;
    right: 0px;
}


.content .image .actions a 
{
    padding-top: 10px;
    display: block;
}

.content .preview {
    padding-top: 20px;
    float: right;
}

#account .edit, #account .changePassword 
{
    padding-bottom: 20px;
    border-bottom: 1px dashed #3D3D33;
}

#account .changePassword 
{
    margin-bottom: 20px;
}